{% extends "base_head.html" %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-3">
            {% if request.siteuser.is_superuser %}

            <ul class="nav nav-pills nav-stacked" style="padding-top:10px;">
                <li style="background-color: #00BDF3;"><a href="#"><i class="fa fa-home fa-fw"></i>管理员功能区</a>
                </li>
                <li><a href="/list/hottag"><i class="fa fa-list-alt fa-fw"></i>热门标签管理</a>
                </li>
                <li><a href="/list/hotemo"><i class="fa fa-file-o fa-fw"></i>热门表情管理</a>
                </li> 
                <li><a href="/list/sysinfo"><i class="fa fa-home fa-fw"></i>系统状态</a>
                </li>
                <li><a href="/search/view"><i class="fa fa-home fa-fw"></i>搜索作者或标签</a>
                </li>
            <ul class="nav nav-pills nav-stacked" style="padding-top:10px;">
                <li style="background-color: #00BDF3;"><a href="#"><i class="fa fa-home fa-fw"></i>Home</a>
                </li>
                <li><a href="/upload/new"><i class="fa fa-list-alt fa-fw"></i>上传表情</a>
                </li>
                <li><a href="/upload/view"><i class="fa fa-file-o fa-fw"></i>管理表情</a>
                </li>
            </ul>
            {% else %}
            <ul class="nav nav-pills nav-stacked" style="padding-top:10px;">
                <li style="background-color: #00BDF3;"><a href="#"><i class="fa fa-home fa-fw"></i>资料管理</a>
                </li>
                <li><a href="http://www.jquery2dotnet.com"><i class="fa fa-list-alt fa-fw"></i>完善信息</a>
                </li>
                <li><a href="/account/changepw/"><i class="fa fa-file-o fa-fw"></i>修改密码</a>
                </li>
                
            </ul>
            <ul class="nav nav-pills nav-stacked" style="padding-top:10px;">
                <li style="background-color: #00BDF3;"><a href="#"><i class="fa fa-home fa-fw"></i>Home</a>
                </li>
                <li><a href="/upload/new"><i class="fa fa-list-alt fa-fw"></i>上传表情</a>
                </li>
                <li><a href="/upload/view"><i class="fa fa-file-o fa-fw"></i>管理表情</a>
                </li>
            </ul>
            {% endif %}
        </div>
        <div class="col-md-9">
        	{% block display %} {% endblock %}
        </div>
    </div>
</div>

{% endblock%}
