{% extends "base_manage.html" %}
{% load upload_tags %}


{%block title%} add emo for other user {% endblock %}

{%block css_script %}
<link href="{{ STATIC_URL }}css/jquery.tagsinput.css" rel="stylesheet">

<style type="text/css">
    .pagination {
        clear: both;
        width: 100%;
    }
    .list{
        color: #282828;
        font-size: 20px;
        margin-top: 10px;
        width: 30%;
        margin-right: 40px;
        padding: 5px,10px,5px,10px;
        float: left;
    }

</style>

<script src="{{ STATIC_URL }}js/jquery.tagsinput.js"></script> 
{% endblock %}


{% block display %}

    {% if user_list %}
        {% for user in sub_users %} 
            {% if user %}
            <div class="list">
            {{forloop.counter}}: 
            <a href="/addemo/add/author={{user.username}}">{{user.username}}</a><br>
            </div>
            {% endif %} 
        {% endfor%} 


 <nav>
  <ul class="pagination left_side">
    <li>

    {% if sub_users.has_previous %}
        <a href="?page={{ sub_users.previous_page_number }}">previous</a>
    {% endif %}

    <span class="current">
        Page {{ sub_users.number }} of {{ sub_users.paginator.num_pages }}.
    </span>
    {% if sub_users.has_next %}
        <a href="?page={{ sub_users.next_page_number }}">next</a>
    {% endif %}
    </li>
  </ul>
</nav>
 
    {% endif %}
{% endblock %}
