{% extends "base_manage.html" %}
{% load upload_tags %}


{%block title%} add emo for other user {% endblock %}

{%block css_script %}
<link href="{{ STATIC_URL }}css/jquery.tagsinput.css" rel="stylesheet">

<style type="text/css">

    .search_box {
      clear: both;
      margin-top: 20px;
      margin-right: 20px;
      margin-bottom: 20px;
      width:100%; 
    }
    .imgbox {
        background-color: #ffffff;
        padding: 10px;
        margin-bottom: 10px;
        -webkit-box-shadow: 0 8px 6px -6px #999;
        -moz-box-shadow: 0 8px 6px -6px #999;
        box-shadow: 0 8px 6px -6px #999;
    }
    .imgtags {
        border-top: 1px solid #dadada;
        padding-top: 5px;
    }
    .populraity_tag {
        float: right;
        font-size: 40px;

    }
    .pagination {
        clear: both;
        width: 100%;
    }
    .list{
        color: #282828;
        font-size: 20px;
        margin-top: 10px;
        margin-left: 30px;
    }

</style>

<script src="{{ STATIC_URL }}js/jquery.tagsinput.js"></script> 
{% endblock %}


{% block display %}

    {% if user_list %}
        {% for user in user_list %} 
            {% if user %}
            <div class="list">
            {{forloop.counter}}: 
            <a href="/addemo/add/?author={{user.username}}">{{user.username}}</a><br>
            </div>
            {% endif %} 
        {% endfor%} 

<!-- 
        <div class="pagination">
            <span class="step-links">
                {% if sub_emos.has_previous %}
                    {% ifequal flag 1%}
                    <a href="?author={{user_object.username}}&page={{ sub_emos.previous_page_number }}">previous</a>
                    {% endifequal %}
                    
                {% endif %}

                <span class="current">
                    Page {{ sub_emos.number }} of {{ sub_emos.paginator.num_pages }}.
                </span>
                {% if sub_emos.has_next %}
                    {% ifequal flag 1%}
                    <a href="?author={{user_object.username}}&page={{ sub_emos.next_page_number }}">next</a>
                    {% endifequal %}
                {% endif %}
            </span>
        </div>
 -->
    {% endif %}

<script type="text/javascript">

    $(function() {
        var regx = /^[a-zA-Z|\d|\u0391-\uFFE5]{0,10}$/
        $(".tag_form").tagsInput({

            "onAddTag": function(tag) {
                if (!regx.test(tag)){
                    alert("标签只能为字母数字汉字,不超过十个字");
                    return;
                }
                focused_input = $("input:focus").attr("id").slice(0, -4);
                pk = $("#" + focused_input).attr("pk");

                $.getJSON("/addtag", {
                    "pk": pk,
                    "tag": tag
                }, function(data) {
                    console.log(data)
                });
            },
            "onRemoveTag": function(tag) {
                    console.log("remove")
                $(".tagsinput").hover(function(e){
                    hover_input = e.currentTarget.id.slice(0,-10)
                    pk = $("#" + hover_input).attr("pk");
                    console.log(pk)
                    console.log(tag)
                    $.getJSON("/removetag", {
                        "pk": pk,
                        "tag": tag
                    }, function(data) {
                        console.log(data)
                    });
                    $(".tagsinput").unbind('mouseenter mouseleave');
                });
            }

        });
    });
</script>

{% endblock %}
