{% extends "base_manage.html" %}
{% load upload_tags %}


{%block title%} search by author or tag {% endblock %}

{%block css_script %}
<link href="{{ STATIC_URL }}css/jquery.tagsinput.css" rel="stylesheet">

<style type="text/css">

    .search_box {
      margin-top: 20px;
      width: 100%;
    }
    .search_input{
        width: 20%;
        margin-bottom: 5px;
        margin-right: 10px;
        float: left;
    }
    .search_btn{
        margin-top: 5px;
        width: 40px;
    }
    .search_btn{

    }
    .imgbox {
        background-color: #ffffff;
        padding: 10px;
        margin-bottom: 10px;
        -webkit-box-shadow: 0 8px 6px -6px #999;
        -moz-box-shadow: 0 8px 6px -6px #999;
        box-shadow: 0 8px 6px -6px #999;
    }
    .imgtags {
        border-top: 1px solid #dadada;
        padding-top: 5px;
    }
    .populraity_tag {
        float: right;
        font-size: 40px;

    }
    .pagination {
        clear: both;
        width: 100%;
    }

</style>

<script src="{{ STATIC_URL }}js/jquery.tagsinput.js"></script> 
{% endblock %}


{% block display %}

    <div class="col-md-3 column search_box">
    
    <div class = "search">
       <form action="/search/author" method="GET" >
           <input type="text" name="author" class="form-control  search_input" placeholder="username">
           <button type="submit" class="btn btn-primary search_bnt">按作者搜索</button>
       </form>
   </div>    

   <div class = "search">
       <form action="/search/tag" method="get" class = "search-form">
           <input type="text" name="tag" class="form-control search_input" placeholder="tag">
           <button type="submit" class="btn btn-primary search_bnt">按标签搜索</button>
       </form>
   </div>    
    </div>
    {% if object_list %}
        {% for emo in sub_emos %} 
            {% if emo.emo_img %}
            <div class="col-md-3 column imgbox">
                <img width="190px" height="200px" src="{{emo.emo_img.url}}" />

                <div class="imgtags">
                <input class="form-control tag_form" pk="{{emo.pk}}" value="{{ emo.emo_init_tag_list|joinby:'tag_name'}}">
                </div>

            {% ifequal flag 1%}
                <div class="popularity_tag" style="margin-top:12px;font-size:13px;">
                <span>作者:  {{ user_object.username}}</span>
                </div>
            {% endifequal %}
            {% ifequal flag 2 %} 
                <div class="popularity_tag" style="margin-top:12px;font-size:13px;">
                <span>作者:  {{ emo.emo_upload_user}}</span>
                </div>
            {% endifequal %}
            {% ifequal flag 3 %}
                <div class="popularity_tag" style="margin-top:12px;font-size:13px;">
                <span>作者:  {{ emo.emo_upload_user}}</span>
                </div>
            {% endifequal %}

                <div class="popularity_tag" style="margin-top:12px;font-size:13px;float:left;">
                <span>流行度:  {{ emo.emo_popularity}}</span>
                </div>

                <div class="pull-right" style="margin-top:5px;">
                <a href="/upload/delete/{{emo.pk}}" class="btn btn-danger btn-sm">
                <i class="glyphicon glyphicon-trash"></i>
                <span>删除</span>
                </a>
                
                </div>
            </div>
            {% endif %} 
        {% endfor%} 
        <div class="pagination">
            <span class="step-links">

<nav>
  <ul class="pagination">
    <li>

                {% if sub_emos.has_previous %}
                    {% ifequal flag 1%}
                    <a href="?author={{user_object.username}}&page={{ sub_emos.previous_page_number }}" 
                    aria-label="Previous"><span aria-hidden="true">previous</span></a>
                    {% endifequal %}
                    {% ifequal flag 2%}
                    <a href="?tag={{cur_tag.tag_name}}&page={{ sub_emos.previous_page_number }}" 
                    aria-label="Previous"><span aria-hidden="true">previous</span></a>
                    {% endifequal %}
                    {% ifequal flag 3%}
                    <a href="?page={{ sub_emos.previous_page_number }}" 
                    aria-label="Previous"><span aria-hidden="true">previous</span></a>
                    {% endifequal %}
                {% endif %}
<!--                 
                {% if sub_emos.has_next %}
                
                    {% ifequal flag 1%}
                    <a href="?author={{user_object.username}}&page={{ sub_emos.next_page_number }}"  
                    >        
                    <span >{{sub_emos.next_page_number}}</span>
                    </a>
                    {% endifequal %}

                    {% ifequal flag 2%}
                    <a href="?tag={{cur_tag.tag_name}}&page={{ sub_emos.next_page_number }}" 
                    aria-label="Next">        
                    <span >{{sub_emos.next_page_number}}</span>
                    </a>
                    {% endifequal %}
                    {% ifequal flag 3%}
                    <a href="?page={{ sub_emos.next_page_number }}" aria-label="Next">
                    <span >{{sub_emos.next_page_number}}</span>
                    </a>
                    {% endifequal %}
                {% endif %}
 -->
                <span class="current">
                    Page {{ sub_emos.number }} of {{ sub_emos.paginator.num_pages }}
                </span>
                {% if sub_emos.has_next %}
                    {% ifequal flag 1%}
                    <a href="?author={{user_object.username}}&page={{ sub_emos.next_page_number }}"  
                    aria-label="Next">        
                    <span aria-hidden="true">next</span>
                    </a>
                    {% endifequal %}
                    {% ifequal flag 2%}
                    <a href="?tag={{cur_tag.tag_name}}&page={{ sub_emos.next_page_number }}" 
                    aria-label="Next">        
                    <span aria-hidden="true">next</span></a>
                    {% endifequal %}
                    {% ifequal flag 3%}
                    <a href="?page={{ sub_emos.next_page_number }}" aria-label="Next">
                    <span aria-hidden="true">next</span></a>
                    {% endifequal %}
                {% endif %}
    </li>
  </ul>
</nav>

            </span>
        </div>

    {% endif %}

<script type="text/javascript">

    $(function() {
        var regx = /^[a-zA-Z|\d|\u0391-\uFFE5]{0,10}$/
        $(".tag_form").tagsInput({

            "onAddTag": function(tag) {
                if (!regx.test(tag)){
                    alert("标签只能为字母数字汉字,不超过十个字");
                    return;
                }
                focused_input = $("input:focus").attr("id").slice(0, -4);
                pk = $("#" + focused_input).attr("pk");

                $.getJSON("/addtag", {
                    "pk": pk,
                    "tag": tag
                }, function(data) {
                    console.log(data)
                });
            },
            "onRemoveTag": function(tag) {
                    console.log("remove")
                $(".tagsinput").hover(function(e){
                    hover_input = e.currentTarget.id.slice(0,-10)
                    pk = $("#" + hover_input).attr("pk");
                    console.log(pk)
                    console.log(tag)
                    $.getJSON("/removetag", {
                        "pk": pk,
                        "tag": tag
                    }, function(data) {
                        console.log(data)
                    });
                    $(".tagsinput").unbind('mouseenter mouseleave');
                });
            }

        });
    });
</script>

{% endblock %}
