{% extends "base_head.html" %}
{% block title %} Login {% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3" style="padding-top:80px;">
    {% if step1 %}
        <form aciont="" method="post">{% csrf_token %}

            <div class="input-group">
              <input id="siteuserResetPwEmail" type="text" name="email" class="form-control input-lg" placeholder="请输入注册时的电子邮件">
              <span class="input-group-btn">
            <button id="siteuserResetPwBtn"  class="btn btn-lg btn-primary" type="submit">确定</button>
              </span>
            </div><!-- /input-group -->

        </form>
        {% if error_msg %}
        <div id="siteuserResetPwStep1Error" class="alert alert-danger">{{ error_msg }}</div>
        {% endif %}
    {% endif %}
    
    {% if step1_done %}
        <p>请您查收电子邮件，并打开邮件中的链接进行重置密码的操作</p>
        <p>如果在收件箱中没找到邮件，请在垃圾邮件中查找</p>
        <p>如果没有收到邮件，请点击 <a href="/account/resetpw/step1/">这里</a>，重新填写电子邮件并发送 </p>
    {% endif %}
    
    {% if step2 %}
        {% if expired %}
            <p>此重置链接已过期，请 <a href="/account/resetpw/step1/">重新申请</a> 得到新的链接</p>
        {% else %}
            <h3>请重新设置密码</h3>
            <form action="" method="post">{% csrf_token %}
                <fieldset>
                    <label>输入密码</label>
                    <input id="siteuserResetPwPassWd1" class="form-control" type="password" name="password" placeholder="输入密码">
                    <label>重复密码</label>
                    <input id="siteuserResetPwPassWd2" class="form-control" type="password" name="password1" placeholder="重复密码">
                </fieldset>
                <br/>
                <button type="submit" id="siteuserResetPwPassWdBtn" class="btn btn-info">确定</button>
            </form>
            {% if error_msg %}
            <div id="siteuserResetPwStep2Error" class="alert alert-danger">{{ error_msg }}</div>
            {% endif %}
        {% endif %}
    {% endif %}
    
    {% if step2_done %}
        <p>已完成密码重置，立即<a href="/account/login/">登录</a></p>
    {% endif %}
</div>
</div>
</div>
{% endblock %}