{% extends "base_manage.html" %}
{% load upload_tags %}


{%block title%} get mobile {% endblock %}

{%block css_script %}
<link href="{{ STATIC_URL }}css/jquery.tagsinput.css" rel="stylesheet">

<style type="text/css">

    .search_box {
      margin-top: 20px;
      width: 100%;
    }
    .search_input{
        width: 20%;
        margin-bottom: 5px;
        margin-right: 10px;
        float: left;
    }
    .search_btn{
        margin-top: 5px;
        width: 40px;
    }
    .search_btn{

    }
    .imgbox {
        background-color: #ffffff;
        padding: 10px;
        margin-bottom: 10px;
        -webkit-box-shadow: 0 8px 6px -6px #999;
        -moz-box-shadow: 0 8px 6px -6px #999;
        box-shadow: 0 8px 6px -6px #999;
    }
    .imgtags {
        border-top: 1px solid #dadada;
        padding-top: 5px;
    }
    .populraity_tag {
        float: right;
        font-size: 40px;

    }
    .pagination {
        clear: both;
        width: 100%;
    }

</style>

<script src="{{ STATIC_URL }}js/jquery.tagsinput.js"></script> 
{% endblock %}


{% block display %}

    <div class="col-md-3 column search_box">
    
    <div class = "search">
    {{message}}
   </div>    
    </div>

{% endblock %}
